@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --font-poppins: 'Poppins', sans-serif;
}
body {
  font-family: var(--font-poppins);
}
@keyframes pop {
  0%, 100%   { transform: scale(1); }
  50%        { transform: scale(1.05); }
}

.animate-pop {
  animation: pop 0.4s cubic-bezier(.25,.8,.25,1) both;
}

/* any global overrides below */
